<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="script.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div class="nav">
    <header>
        <a href="/"><img src="/images/logo.jpg"></a>
    </header>
    <nav class="userNav">
        <!-- <a href="/connections/new">Start a new Connection</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a> -->

        <%if(!user) {%>
            <a href='/users/new'>Sign Up</a>
            <a href='/users/login'>Login</a>
        <%} else {%>
            <a href="/connections/new">Start a new Connection</a>
            <a href='/users/profile'>Profile</a>
            <a href='/users/logout'>Logout</a>
        <%}%>
    </nav>
</div>
    <nav class="generalNav">
        <a href="/connections">Connections</a>
        <%if(user){%>
            <p>Welcome, <%= user.firstName %>!</p>
        <%}%>
       
    </nav>

    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>