<%- include('./partials/headers.ejs')%>
<main>
    <p>WELCOME TO 2MEET !</p>
    <br>
    <p> Attend and create events for communnities to join. Try out new things and meet new people</p>
    <p>Come and enjoy all the cool activities of your interest while making new Friends!</p>
    <br>
    <p>Check out the connection <a href="/connections">Here</a></p>
</main>
<%- include('./partials/footer.ejs')%>