<%- include('../partials/headers.ejs')%>
<main>
    <h1>About Page</h1>
    <br>
    <h1>WHO ARE WE?</h1>
    <p>We are a small organization that wants people like minded to meet new people while exploring fun activities</p>
    <p>We hope to create an environment where communnities will be able to engage together while making new friends around!</p>
    <br>

</main>
<%- include('../partials/footer.ejs')%>