<%- include('../partials/headers.ejs')%>
<main>
    <h1>Contact Page</h1>
    <br>
    <h1>You can reach out to us at:</h1>
    <p>Email: 2Meet@gmail.com</p>
    <p>Phone Number: 123-456-7890</p>
    <br>

</main>
<%- include('../partials/footer.ejs')%>